from abc import ABC

class Signature(ABC):
    def __init__(self, sig_name: str = "Signature", name: str = None) -> None:
        if name is None:
            self._name = self.__class__.__name__
        else:
            self._name = name
        self._sig_name = sig_name

    def __repr__(self):
        return f"{self._sig_name} {self._name}"

    def __key(self):
        return self._sig_name + self._name

    def __hash__(self):
        return hash(self.__key())

    def __eq__(self, other):
        if isinstance(other, Signature):
            return self.__key() == other.__key()
        return False


# Model "one sig" as singleton classes
class Singleton(type(Signature)):
_instances = {}

def __call__(cls, *args, **kwargs):
if cls not in cls._instances:
cls._instances[cls] = super(Singleton, cls).__call__(*args, **kwargs)
return cls._instances[cls]

# --- Signatures ---

#foreach($label in $basicSigLabels)
class $label(Signature):
    def __init__(self, name: str = None) -> None:
        super().__init__("${label}", name)

#end

#foreach($label in $oneSigLabels)
class $label(Signature, metaclass=Singleton):
    def __init__(self):
        self._abbrev = '${label.charAt(0)}'

    def __repr__(self):
        return f"$label(${label.charAt(0)})"


#end


# --- Conc States ---
#foreach($concState in $concStateList)
class ${concState.getName()}_State(State):
    """ The wrapper state for ${concState.getName()} """

    def __init__(self, context: State, root_context: State) -> None:
        self._state = self.${concState.getName()}(self, root_context)  # default state


    class ${concState.getName()}(State):
        """ the concrete state that does the work """

        # transitions
        #foreach($trans in $concState.getTransitions())
        # trans - ${trans.getTransName()}
        def _trans_${trans.getTransName()}(self, is_event: bool) -> bool:
            r""" Execute a transition if possible
            :param is_event: is it triggered by event?
            :return: false to continue the loop in the executor
                     true to stop the loop
            """
            /** TODO: global variables (signatures used in this state)*/
            #foreach($globalVar in $globalVariables)
            global ${globalVar}
            #end

            if (is_event):
                return False
            else:
                logging.log(GCLOG, f" test guard condition of ${trans.getTransName()}.")
                /** TODO: transition guard condition */
                if not len(${trans.getGuardCondition()}):
                    return False

            logging.log(ACLOG,f" action of [${trans.getTransName()}] triggered.")
            /** TODO: transition action */
            ${trans.getAction()}

            self._context.change_state(self._context.${trans.fromStateName()}(self._context, self._root_context))
            return True


        #end
#end
