<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.7.4</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleExecutable</key>
  <string>Alloy</string>
  <key>CFBundleIconFile</key>
  <string>Alloy.icns</string>
  <key>CFBundleIdentifier</key>
  <string>edu.mit.csail.sdg.alloy4whole</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Alloy</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleVersion</key>
  <string>5.1.0</string>
  <key>CFBundleShortVersionString</key>
  <string>5.1</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <!-- See http://developer.apple.com/library/mac/#releasenotes/General/SubmittingToMacAppStore/_index.html
       for list of AppStore categories -->
  <key>LSApplicationCategoryType</key>
  <string>Unknown</string>
  <key>CFBundleVersion</key>
  <string>101</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (C) 2019</string>
  <key>JVMRuntime</key>
  <string>jdk1.8.0_144.jdk</string>
  <key>JVMMainClassName</key>
  <string>edu.mit.csail.sdg.alloy4whole.Alloy</string>
  <key>JVMAppClasspath</key>
  <string></string>
  <key>JVMMainJarName</key>
  <string>org.alloytools.alloy.dist.jar</string>
  <key>JVMPreferencesID</key>
  <string>edu/mit/csail/sdg/alloy4whole</string>
  <key>JVMOptions</key>
  <array>

  </array>
  <key>JVMUserOptions</key>
    <dict>

    </dict>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
 </dict>
</plist>
