name: release

on:
  push:
    branches: ["release"]

env:
  LC_ALL: en_US.UTF-8
  REPOSITORY_USERNAME: ${{ secrets.REPOSITORY_USERNAME }}
  REPOSITORY_PASSWORD: ${{ secrets.REPOSITORY_PASSWORD }}

jobs:
  build:
    name: build on OpenJDK Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - shell: bash
        run: ./gradlew release
      - if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: '*/target/*reports/tests/'
      - uses: hydraulic-software/conveyor/actions/build@v14.2
        with:
            signing_key: ${{ secrets.CONVEYOR_ROOT_KEY }}
            command: make site
            extra_flags: -f org.alloytools.alloy.dist/conveyor/conveyor.conf
            agree_to_license: 1
#      - name: Release
#        uses: softprops/action-gh-release@v2
#        with:
#          generate_release_notes: true
#          name: Alloy
#          body: Alloy is an open source language and analyzer for software modeling. It has been used in a wide range of applications, from finding holes in security mechanisms to designing telephone switching networks.
#          prerelease: false
#          draft: true
#          files: |
#             output/**

